body {
    margin: 0px;
    padding: 0px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 10px;
    background: #c52f24;
    color: #fff;
    margin:  0px;
}

.main_container {
    margin: 20px;
    position: relative;
}

footer {
    width: 100%;
    padding: 0px;
    background: #c52f24;
    color: #fff;
    margin: 0px;
    bottom: 0px;
    position: absolute;
    display: block;
}

h1 {
    padding: 5px;
}

h3 {
    display: block;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: #ffdfdf;
    padding: 10px 20px;
    border: solid 1px black
}

table td {
    background-color: #f1c8c861;
    padding: 10px 20px;
    text-align: center;
    border: solid 1px black;
}

.notice {
    background-color: #ccf;
    padding: 15px;
    width: 400px;
    text-align: center;
    border: 2px solid blue;
}

input {
    width: 350px;
    font-size: 16px;
    padding: 5px;
}

textarea {
    width: 350px;
    height: 200px;
    font-size: 16px;
}

ul {
    margin: 16px;
}

.error_message {
    color: red;
}